@font-face {
    font-family: helloGoodbye;
    src: url(../fonts/hellogoodbye.otf);
}
@font-face {
	font-family: bellCustom;
	src: url(../fonts/BELL.otf);
}
@font-face {
	font-family: bellBoldCustom;
	src: url(../fonts/BELLB.otf);
}
@font-face {
	font-family: libreBaskerVilleItalian;
	src: url(../fonts/BELLI.TTF);
}
@font-face {
	font-family: angeline;
	src: url(../fonts/angeline.ttf);
}

/*               LOGO            */

@media (min-width: 768px) {

	#navs {

		transform: translate(-50%);

	}
	#navs li {
		top: 50%;
	}
	#navbar {
		/*padding: 85px;*/
	}
	.start-left-column {
		padding-right: 0px;
	}
	#logo-small {
		 top: 50%;
 		transform: translateY(-50%);
	}
	.icons-wrapper {
		position: absolute;	
		left: 95%;
		top: 50%;
		transform: translate(-95%,-50%);
	}
	.lang-wrapper {
		position: absolute;
		top: 15%;
		left: 94%;
		transform: translate(-94%, -15%);
	}
}
@media (max-width: 544px) {

	#start-left-column {
 		height: 301px;
 	}
 	#start {
 		width: 100%;
 	}
 	.start-left-column {
 		padding-right: 0px;
 	}

}
h2 {
	margin-top: 30px !important;
	margin-bottom: 20px !important;
	/*font-size: 4rem !important;*/
}
.icons {
	width: 25px;
}
.icons-wrapper {
	width: 70px;
	float: right;
}
.lang-icon {
	margin: 3px;
	cursor: pointer;
}

img {
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.logo {
	margin-top: 15px;
	opacity: 1;
 	transition: opacity 0.5s linear;
}
#logo-small {
	width: 100px;
 	opacity: 0;
 	transition: opacity 0.5s linear;
}
@media(max-width: 700px) {
	#logo-small {
		width: 80px;
	}
}
.image {
 	margin-top: 35px;
 	/*box-shadow: 5px 5px 20px #bcbcbc;*/
 }
.text {
	font-size: 3rem;
	margin-top: 60px;
	margin-bottom: 40px;
}
 .start-left-column {
 	box-shadow: 5px 5px 20px #bcbcbc;
 	position: relative;
 }
.home-cover {
	margin-top: 0px;
	/*box-shadow: 5px 5px 20px #bcbcbc;*/
}
.footer {
	position: absolute;
	background-size: contain;
}
@media (min-width: 720px) {

	.footer {
		left: 47%;
		top: 17%;
		transform: translateX(-47%);
		z-index: -100;
		background-position-x: -10px;
		position: absolute !important;
	}
	.info {
		margin-top: 84px;
	}
}
@media (max-width: 720px) {
	.navbar-brand {
		width: 80%;
	}
	.lang-wrapper {
		position: absolute;
		top: 15%;
		left: 75%;		
		transform: translate(-75%, -15%);
	}
}
#submit {
	font-family: helloGoodbye;
	box-shadow: 5px 5px 20px #bcbcbc;
	font-size: 2.125rem;
	letter-spacing: 2px;
}
.column {
	text-align: center;
	font-family: helloGoodbye;
	font-size: 2.25rem;
	margin-bottom: 100px;

}
#navbar {
 	background-color: transparent;
 	font-family: bellCustom;
 	font-weight: bold;
 	border-bottom: none;
 	font-size: 12px;
 	color: black;

 }
#navbar > li > a {
	color: black;
}
.navbar-default .navbar-nav > li > a:hover {
	text-decoration: underline !important;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: transparent !important;
    text-decoration: underline;	
}
.paragraph {
	font-family: bellCustom;
	margin-bottom: 40px;
	padding-top: 163px;
	font-size: 1.875rem;
}
.paragraph h2 {
	font-family: helloGoodbye;
}
.paragraph h1, h2 {
	font-family: helloGoodbye;
	text-align: center;
}
.textarea {
	font-family: bellCustom;
	margin-bottom: 40px;
}
textarea {
	width: 100%;
	box-shadow: 5px 5px 20px #bcbcbc !important;
}
.input {
	box-shadow: 5px 5px 20px #bcbcbc !important;
}
#modal-inner {
	top: 50%;
    transform: translateY(-50%);
    position: absolute;
    background-image: url('../img/bubble7.png');
	background-repeat: no-repeat;
	background-color: transparent;
	background-size: contain;
	text-align: center;
	padding-top: 10px;
}
#modal-inner i {
	/*font-size: 1.425rem;*/
}

@media (max-width: 700px) {
	#modal-inner {
		background-size: contain;
	}
}
.no-padding {
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.contact-info {
	margin-top: 20px;
}
.shadow {
	border-radius: 50%;
	/*top: -15%;*/
	transform: rotate(10deg);
	margin-top: -28px;
	z-index: -100;

}

.round-image {
	margin-top: 0px;
  shape-outside: content-box;
}
.round-image-r {
	float: right !important;
}
h1 {
	margin-bottom: 30px !important;
}
.bread {
	transition: ease-out 0.2s;
	/*margin-top: 50px;*/
}
.bread:hover {
	transform: scale(1.1,1.1);
	cursor: pointer;
}
.effect2
{
  position: relative;
  background-color: grey;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 20px;
  /*width: 50%;*/
  /*top: 80%;*/
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-9deg);
  -moz-transform: rotate(-9deg);
  -o-transform: rotate(-9deg);
  -ms-transform: rotate(-9deg);
  transform: rotate(-9deg);
}
.effect2:after
{
  -webkit-transform: rotate(9deg);
  -moz-transform: rotate(9deg);
  -o-transform: rotate(9deg);
  -ms-transform: rotate(9deg);
  transform: rotate(9deg);
  right: 20px;
  left: auto;
}
.box h3{
  text-align:center;
    position:relative;
    top:80px;
}
.box {
	margin-top: 0px;
    background:#FFF;
}
img {
	max-width: 100%;
}
#breads {
	max-width: 100%;
}
.lb {
	max-width: 100%;
	font-family: angeline;
	line-height: 9rem;
}
@media(min-width: 1000px) {
	#go-lb {
		opacity: 0;
		transition: ease 1s;
		left: -30%;
	}
	#super-lb {
		opacity: 0;
		transition: ease 1s;
		left: -30%;
	}
	#sur-lb {
		opacity: 0;
		transition: ease 1s;
		left: -30%;
	}
/*	.labels {
		position: absolute !important;
		left: 20%;
		transition: ease 1s;
	}*/
}
.gostrong {
	color: #c96d1f;
}
.surdeg {
	color: #1f9a70;
	margin-right: 10px;
}
.superfruit {
	color: #d22350;
}
span {
	font-family: angeline;
	font-size: 	4rem;
}
.object {
	text-align: end;
}
.table {
	margin-top: 25px;
}
.labels {
	font-family: angeline;
	font-size: 3rem;
	/*top: 20%;*/
	/*left: 50%;*/
	/*position: absolute !important;*/
	/*margin-top: 80px;*/
	height: 100%;
	margin-bottom: 35px;
}
.hover {
	padding-top: 20px;
	position: absolute !important;
	height: 90%;
	top: 11%;
	z-index: 100;
}
.anchor {
	height: 32%;
}
.labels-wrapper {
	margin-top: 8%;
}
.bubble-wrapper {
	position: relative;
	z-index: -200;
}
#bubble-1 {
	display: none;
	/*margin-bottom: 20px;*/	
	left: -4%;
	transform: translateX(-4%);
}
#bubble-2 {
	display: none;
	left: 20%;
}
#bubble-3 {
	display: none;
	left: 55%;
}
.bubble {
	position: absolute !important;
	text-align: center;
	background-size: cover;
	top: 20%;
	transform: translateY(-20%);
}
.bubble-text {
	position: absolute !important;
	text-align: center;
	margin-top: -68px;
}
.bread-divider {
	margin-bottom: 114px;
}
.bubble-mobile {
/*	left: 50%;
	top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
	background-color: transparent;*/
	text-align: center;
	background-repeat: no-repeat;
    /*height: 100%;*/
    background-size: contain;
	padding-top: 50px;
    position: absolute !important;
    bottom: 1%;
    transform: translateY(-1%);
    display: none;
}
#bee-one {
	display: none;
	margin-top: -1px;
	z-index: -900;
	position: absolute;
}
#bee-two {
	display: none;
	margin-top: -1px;
}
#bee-three {
	display: none;
	margin-top: -1px;
}
.modal-bee {
	/*margin-top: 60px;*/
	float: right !important;
}
.no-paddig {
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.red {
	color: red;
}
@media(min-width: 720px) {

	.purple {
		margin-top: 92px;
		margin-bottom: 30px;
	}
}
#adress {
	margin: 0px;
}
.img-wrapper {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}